/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 @use "@material/theme" with (
	$primary: #000,
	$secondary: #76ff03,
	$background: #fff,
  );
 @use "@material/tab-bar/mdc-tab-bar";
 @use "@material/tab-scroller/mdc-tab-scroller";
 @use "@material/tab-indicator/mdc-tab-indicator";
 @use "@material/tab/mdc-tab";


 .brand-tab-screen {
	display: none;
  }
  
  .brand-tab-screen--active {
	display: block;
  }